<div class='country'>
  <img src='{{flag}}' alt='{{name}}' width='60' height='40' />
  <h2 class='country_name'>{{name}}</h2>
</div>
<div>
  <ul>
    <li><span class='country_feature'>Capital:</span> {{capital}}</li>
    <li><span class='country_feature'>Population:</span> {{population}}</li>
    <li><span class='country_feature'>Languages:</span> {{#each languages}}{{name}} {{/each}}</li>
  </ul>
</div>
{{! ukraine }}