<div>
  <img src='{{flag}}' alt='{{name}}' width='60' height='40' />
  <h2>{{name}}</h2>
</div>
<div>
  <ul>
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}}</li>
    <li>Languages: {{#each languages}}{{name}} {{/each}}</li>
  </ul>
</div>